@using UowMVC.Models;
@using Webdiyer.WebControls.Mvc;

@model IEnumerable<NewsCategoryViewModel>
@{
    ViewBag.Title = "资讯分类管理";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default bk-bg-white">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="single-select-table table table-striped table-responsive table-hover" style="margin-bottom:5px;">
                        <thead class="active">
                            <tr class="active">
                                <th>序号</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr itemid="@m.Id">
                                    <td class="center">@m.No</td>
                                    <td class="center">@m.Name</td>
                                    <td style="padding:4px">
                                        @Html.Partial("_MenuPartial")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row datatables-footer">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="datatable-default_info" role="status" aria-live="polite">
                                @if (Model.Count() > 0)
                                {
                                    <span> 共计 @Model.Count() 条</span>
                                }
                                else
                                {
                                    <span>暂无数据</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>